# Gradle files
.gradle/
build/
*/build/
*/*/build/

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
.navigation/

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

# Android profiling
*.hprof

# OS specific files
.DS_Store
Thumbs.db

# Python / FastAPI (for backend later)
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv/
chroma_db/
